<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Name: TBD</title>
    
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
    <style>body, button{ font-family: 'Inconsolata'; font-weight: 800;</style>
  </head>  
  <body>
    <div id="app">
      
      <h1>Name: TBD</h1>
      Description: TBD <br><br>
      The next feature unlocks at ee5<br><br>
      <div id="tabs">
        <button style="tab;height:4vh;color:#777777;background-color:#dddddd;" onclick="game.tab='0'">Main</button>
        <button style="tab;height:4vh;color:#777777;background-color:#dddddd;" onclick="game.tab='1'">Acronyms</button>
      </div>
      <div v-if="tab=='0'">
        <button id="ppbuttonlol">
        You have {{points.toFixed(3)}} points.<br>You are getting {{getPointGen().toFixed(3)}} points every second.
      </button><br>
      <button onclick="buy(11)">
        <h1>R1</h1>
        Cost: {{getCost(11).toFixed(3)}}<br>
        EPP: Point Gain *1.1 or more<br> <!-- -->
        TE: Point Gain *{{getEffect(11).toFixed(3)}}<br>
        Amount: {{rebuyables[11].toFixed(3)}}
      </button>
      <button onclick="buy(12)">
        <h1>R2</h1>
        Cost: {{getCost(12).toFixed(3)}}<br>
        EPP: R1 Cost /4<br>
        TE: R1 Cost /{{getEffect(12).toFixed(3)}}<br>
        Amount: {{rebuyables[12].toFixed(3)}}
      </button>
      <button onclick="buy(13)">
        <h1>R3</h1>
        Cost: {{getCost(13).toFixed(3)}}<br>
        EPP: R2 Cost /8<br>R1 EPP *1.1<br>
        TE: R2 Cost /{{getEffect(13)[0].toFixed(3)}}<br>R1 EPP *{{getEffect(13)[1].toFixed(3)}}<br>
        Amount: {{rebuyables[13].toFixed(3)}}
      </button>
      </div>
      <div v-if="tab=='1'">
        <h1>[Button] Acronyms</h1>
        R: Rebuyable<br>EPP: Effect Per Purchase<br>TE: Total Effect
      </div>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="/exp.js"></script>
    <script src="/upgrades.js"></script>
    <script src="/gameloop.js"></script>
    <script src="/script.js"></script>
  </body>
</html>