/* CSS files add styling rules to your content */

body {
  margin: 0em;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
}

button {
  margin: 0em;
  background-color: #ffffff;
  color: #417895;
  border-color: #755775;
  border-width: 5px;
  width: 20vw;
  height: 11.5vh;
}

#ppbuttonlol, #npbl {
  width: 100vw;
  height: 7.5vh;
  border-width: 5px;
  background-color: #caf174;
  border-color: #aaaaaa;
  color: #000000;
}

#tabs {
  width: 100%;
}

.tab {
  width: 33%;
}