/* CSS files add styling rules to your content */

body {
  margin: 0em;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
}

button {
  margin: 0em;
  background-color: #ffffff;
  color: #000000;
  border-color: #aaaaaa;
  border-width: 3px;
  width: 20vw;
  height: 10vh;
}

#ppbuttonlol, #npbl {
  width: 100vw;
  height: 7.5vh;
  border-width: 5px;
  background-color: #caf174;
}