/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
}

button {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: #ffffff;
  color: #000000;
  border-color: #aaaaaa;
  border-width: 3px;
}

.ppbuttonlol {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: #ffffff;
  color: #000000;
  border-color: #aaaaaa;
  border-width: 3px;
  width: 500px;
}